
/* Dialog container */
.dialog-container {
	--dialog-offset-top: clamp(20px, 5vw, 110px);
	--dialog-offset-right: clamp(0px, 3vw, 70px);
	z-index: 3;
	margin-top: 0;
	animation: float-dialog 6s ease-in-out infinite;
	position: absolute;
	right: var(--dialog-offset-right);
	top: var(--dialog-offset-top);
}

.dialog-container img {
    width: 580px;
    margin-left: -7em;
}

.dialog-container .console {
	position: absolute;
    top: 7em;
    left: -5px;
    width: 380px;
	text-align: center;
}

.dialog-container .console p {
	margin: 0;
    padding: 0;
    text-align: center;
}

.dialog-container .console .hello {
	font-size: 60px;
    font-weight: 600;
    color: #222f5c;
}

.dialog-container .console .txt-rotate {
	font-size: 40px;
    color: #576183;
	font-weight: 600;
	margin-top: 10px;
}

/* Dialog container animation */
@keyframes float-dialog {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media screen and (min-width: 1400px) {
	.dialog-container {
		--dialog-offset-top: clamp(40px, 4vw, 150px);
		--dialog-offset-right: clamp(10px, 4vw, 110px);
	}
}