#welcome {
    flex-direction: column;
    height: 780px;
    padding-top: 5em;
}

.layer_one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
}

.layer_one .avatar-container {
    position: relative;
    margin-left: 10%;
}

.layer_one .avatar-container .illustration {
    height: 780px;
    z-index: 2;
    position: relative;
}